
@{
    ViewBag.Title = "Index";
}

<h2>Standard</h2>
<button class="btn btn-success pull-right" type="button" id="BtnToggleAddStandard" data-toggle="modal" data-target="#myModalAddNewStandard">Add Standard</button>
<br />
<br />
<strong>Search: </strong>
<input type="text" id="txtSearch" />
<div id="StandardTableForm">

</div>

<!-- ADD NEW STANDARD MODAL -->
<div id="myModalAddNewStandard" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="NewStandardModalContent">

        </div>
    </div>
</div>

<!-- ADD EDIT STANDARD MODAL -->
<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="EditModalContent">

        </div>
    </div>
</div>
