<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Teacher ID</th>
            <th class="text-center">Teacher Name</th>
            <th class="text-center">Standard</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>
