@{
    ViewBag.Title = "Index";
}

<h2>Student</h2>
<button class="btn btn-success" type="button" id="btnToggleAddCustomer" data-toggle="modal" data-target="#myModalAddNewCustomer">
    Add Student
</button>
<br />
<br />
<div id="TableForm">

</div>
<table id="StudentTable" class="table table-bordered display">
    <thead>
        <tr>
            <th class="text-center">Student ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Standard</th>
            <th class="text-center">Row Version</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

<!-- ADD NEW STUDENT MODAL -->
<div id="myModalAddNewCustomer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="NewCustomerModalContent">

        </div>
    </div>
</div>

<!-- UPDATE MODAL -->
<div id="myModalEditCustomer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="UpdateModalContent">

        </div>
    </div>
</div>

<!-- VIEW ADDRESS MODAL -->
<div id="myModalViewAddress" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="ViewAddressModalContent">

        </div>
    </div>
</div>
